*.iml
*.jks
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
logErrors.txt
myLogs.txt
build.gradle
*.zip
*.rar
/admob
/ads
/tsel
/tsel_*
google-services.json