<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ckl_cpbq_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,508}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{486,508}}</string>
                <key>sourceSize</key>
                <string>{490,510}</string>
            </dict>
            <key>ckl_cpbq_btn_bq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,544},{48,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{48,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ckl_cpbq_btn_bq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,494},{52,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{52,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ckl_cpbq_btn_dh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,494},{54,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{54,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ckl_cpbq_btn_dh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,494},{56,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{56,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ckl_cpbq_xian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,490},{128,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,2}}</string>
                <key>sourceSize</key>
                <string>{128,2}</string>
            </dict>
            <key>ckl_cpbq_xian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,490},{2,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,128}}</string>
                <key>sourceSize</key>
                <string>{2,128}</string>
            </dict>
            <key>ckl_cpbq_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{80,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,246}}</string>
                <key>sourceSize</key>
                <string>{80,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A_Game_cangkulan_res.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb9c4801af8161cfc72c5ef24a742d2c$</string>
            <key>textureFileName</key>
            <string>A_Game_cangkulan_res.png</string>
        </dict>
    </dict>
</plist>
