<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ckl_game_btn_bq.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,420},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ckl_game_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ckl_set_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6},{248,332}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,332}}</string>
                <key>sourceSize</key>
                <string>{252,332}</string>
            </dict>
            <key>ckl_set_bg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,2}}</string>
                <key>sourceSize</key>
                <string>{250,2}</string>
            </dict>
            <key>ckl_set_btn_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{240,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,78}}</string>
                <key>sourceSize</key>
                <string>{240,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cangkulan_game_toplayer.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e37ac8a38132a9d653c827839cf34b6d$</string>
            <key>textureFileName</key>
            <string>cangkulan_game_toplayer.png</string>
        </dict>
    </dict>
</plist>
