<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ca_game_btn_bq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Ca_game_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Ca_set_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,332}}</string>
                <key>sourceSize</key>
                <string>{254,332}</string>
            </dict>
            <key>Ca_set_bg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{250,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,2}}</string>
                <key>sourceSize</key>
                <string>{250,2}</string>
            </dict>
            <key>Ca_set_btn_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,6},{246,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,76}}</string>
                <key>sourceSize</key>
                <string>{246,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chess_game_toplayer.png</string>
            <key>size</key>
            <string>{510,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c857537c3c8cb011e99bb238ba752825$</string>
            <key>textureFileName</key>
            <string>chess_game_toplayer.png</string>
        </dict>
    </dict>
</plist>
