<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>comm_msg_bk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,80}}</string>
                <key>sourceSize</key>
                <string>{520,80}</string>
            </dict>
            <key>comm_msg_bk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,400},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>comm_msg_bk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,202},{52,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,270}}</string>
                <key>sourceSize</key>
                <string>{52,270}</string>
            </dict>
            <key>comm_msg_bk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>comm_msg_btn_cancle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,202},{196,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,72}}</string>
                <key>sourceSize</key>
                <string>{196,72}</string>
            </dict>
            <key>comm_msg_btn_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{198,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,74}}</string>
                <key>sourceSize</key>
                <string>{198,74}</string>
            </dict>
            <key>comm_msg_btn_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{198,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,74}}</string>
                <key>sourceSize</key>
                <string>{198,74}</string>
            </dict>
            <key>comm_msg_btn_ok_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{196,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,72}}</string>
                <key>sourceSize</key>
                <string>{196,72}</string>
            </dict>
            <key>comm_msg_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,202},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{24,24}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>comm_msg_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,474},{30,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{30,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>comm_msg_close_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,474},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{24,24}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>comm_msg_lv_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{228,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,80}}</string>
                <key>sourceSize</key>
                <string>{228,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comm_msg_box_res.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3cef450aa282aee5818522287421ce4$</string>
            <key>textureFileName</key>
            <string>comm_msg_box_res.png</string>
        </dict>
    </dict>
</plist>
