<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dzpk_game_btnbq.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,406},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>dzpk_game_btnsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,406},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>dzpk_hg_aixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,404},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>dzpk_hg_hd_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{40,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,176}}</string>
                <key>sourceSize</key>
                <string>{40,176}</string>
            </dict>
            <key>dzpk_hg_hd_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,334},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dzpk_hg_hd_k_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,334},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dzpk_hg_hd_k_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,334},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dzpk_sz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{228,330}}</string>
                <key>sourceSize</key>
                <string>{230,330}</string>
            </dict>
            <key>dzpk_sz_btnxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,6},{222,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,76}}</string>
                <key>sourceSize</key>
                <string>{222,76}</string>
            </dict>
            <key>dzpk_sz_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{230,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,2}}</string>
                <key>sourceSize</key>
                <string>{230,2}</string>
            </dict>
            <key>dzpk_sz_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{2,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,230}}</string>
                <key>sourceSize</key>
                <string>{2,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_a_game_toplayer.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4264ccb4054fb1b1bce484db234575e$</string>
            <key>textureFileName</key>
            <string>DG_a_game_toplayer.png</string>
        </dict>
    </dict>
</plist>
