<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>K41_game_btn_bq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>K41_game_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,184},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{76,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>K41_set_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{250,98}}</string>
                <key>sourceSize</key>
                <string>{256,102}</string>
            </dict>
            <key>K41_set_bg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{250,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,2}}</string>
                <key>sourceSize</key>
                <string>{250,2}</string>
            </dict>
            <key>K41_set_btn_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{246,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,76}}</string>
                <key>sourceSize</key>
                <string>{246,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>k41_game_toplayer.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19de808649f235f6e10816f07cd0a3c1$</string>
            <key>textureFileName</key>
            <string>k41_game_toplayer.png</string>
        </dict>
    </dict>
</plist>
