<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.dimaslanjaka.tools.Helpers.animation">

    <uses-sdk tools:overrideLibrary="com.google.android.gms.all, androidx.appcompat, android.app, android.support.test, android.support.test.rule, android.support.test.espresso, android.support.test.espresso.idling, android.support.test.uiautomator.v18" />

    <application />
</manifest>
