<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Slot_lobby_UI_btn_R_jl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{204,50}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{204,50}}</string>
                <key>sourceSize</key>
                <string>{248,72}</string>
            </dict>
            <key>Slot_lobby_UI_btn_R_ph.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,54},{198,50}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{198,50}}</string>
                <key>sourceSize</key>
                <string>{248,72}</string>
            </dict>
            <key>Slot_lobby_UI_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2},{154,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,40},{154,46}}</string>
                <key>sourceSize</key>
                <string>{328,112}</string>
            </dict>
            <key>Slot_lobby_room_16_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{216,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{216,86}}</string>
                <key>sourceSize</key>
                <string>{252,88}</string>
            </dict>
            <key>Slot_lobby_room_18_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{234,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{234,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>Slot_lobby_room_70_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{216,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{216,86}}</string>
                <key>sourceSize</key>
                <string>{252,88}</string>
            </dict>
            <key>Slot_lobby_room_71_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{220,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{220,92}}</string>
                <key>sourceSize</key>
                <string>{320,92}</string>
            </dict>
            <key>Slot_lobby_room_72_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{216,112}}</string>
                <key>sourceSize</key>
                <string>{252,112}</string>
            </dict>
            <key>Slot_lobby_top_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,54},{202,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{202,38}}</string>
                <key>sourceSize</key>
                <string>{202,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot_base_more_game_word.png</string>
            <key>size</key>
            <string>{1518,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4141153bbab321ddd1489f6e2390d62$</string>
            <key>textureFileName</key>
            <string>slot_base_more_game_word.png</string>
        </dict>
    </dict>
</plist>
