<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Slot_rank_btn_wxz_by.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,78},{124,26}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,29},{124,26}}</string>
                <key>sourceSize</key>
                <string>{290,66}</string>
            </dict>
            <key>Slot_rank_btn_wxz_bz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{156,32}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,29},{156,32}}</string>
                <key>sourceSize</key>
                <string>{290,66}</string>
            </dict>
            <key>Slot_rank_btn_wxz_jr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{100,26}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,29},{100,26}}</string>
                <key>sourceSize</key>
                <string>{290,66}</string>
            </dict>
            <key>Slot_rank_btn_wxz_ls.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{116,32}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,29},{116,32}}</string>
                <key>sourceSize</key>
                <string>{290,66}</string>
            </dict>
            <key>Slot_rank_btn_xz_by.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{142,44}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,16},{142,44}}</string>
                <key>sourceSize</key>
                <string>{290,66}</string>
            </dict>
            <key>Slot_rank_btn_xz_bz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{174,50}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,16},{174,50}}</string>
                <key>sourceSize</key>
                <string>{290,66}</string>
            </dict>
            <key>Slot_rank_btn_xz_jr.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,204},{118,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,16},{118,44}}</string>
                <key>sourceSize</key>
                <string>{290,66}</string>
            </dict>
            <key>Slot_rank_btn_xz_ls.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{134,50}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,16},{134,50}}</string>
                <key>sourceSize</key>
                <string>{290,66}</string>
            </dict>
            <key>Slot_rank_mc_wsb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{186,22}}</string>
                <key>sourceSize</key>
                <string>{186,36}</string>
            </dict>
            <key>Slot_rank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{300,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,54}}</string>
                <key>sourceSize</key>
                <string>{300,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot_base_ranking_word.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd9569a9085567e5ea644bbdc4498700$</string>
            <key>textureFileName</key>
            <string>slot_base_ranking_word.png</string>
        </dict>
    </dict>
</plist>
