<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot_main_btn_GN_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{152,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,14}}</string>
                <key>sourceSize</key>
                <string>{152,14}</string>
            </dict>
            <key>slot_main_btn_GN_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,156},{136,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,20},{136,52}}</string>
                <key>sourceSize</key>
                <string>{238,86}</string>
            </dict>
            <key>slot_main_btn_GY_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,60},{136,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,21},{136,52}}</string>
                <key>sourceSize</key>
                <string>{238,86}</string>
            </dict>
            <key>slot_main_btn_GY_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{150,56}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,17},{150,56}}</string>
                <key>sourceSize</key>
                <string>{238,86}</string>
            </dict>
            <key>slot_main_btn_RD_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,56}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,17},{150,56}}</string>
                <key>sourceSize</key>
                <string>{238,86}</string>
            </dict>
            <key>slot_main_btn_bet2_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{80,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{80,46}}</string>
                <key>sourceSize</key>
                <string>{124,66}</string>
            </dict>
            <key>slot_main_btn_bet2_mf.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,210},{110,20}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{110,20}}</string>
                <key>sourceSize</key>
                <string>{124,66}</string>
            </dict>
            <key>slot_main_btn_bet_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,84},{80,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{80,46}}</string>
                <key>sourceSize</key>
                <string>{124,66}</string>
            </dict>
            <key>slot_main_btn_bet_mf.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,232},{110,20}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{110,20}}</string>
                <key>sourceSize</key>
                <string>{124,66}</string>
            </dict>
            <key>slot_main_word_total.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,60},{90,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,13}}</string>
                <key>sourceSize</key>
                <string>{90,13}</string>
            </dict>
            <key>slot_main_word_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,198},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{40,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot_base_word_ui.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12a05c14fdc5e6abe05afc4a7fb2ba04$</string>
            <key>textureFileName</key>
            <string>slot_base_word_ui.png</string>
        </dict>
    </dict>
</plist>
