/backend/*
!/backend/server.properties
!/backend/server.txt

libnode
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/*.zip
/captures
.externalNativeBuild
.cxx
node_modules
keystore.properties
keystore.jks