<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot_base_loading_jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,32},{608,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,24}}</string>
                <key>sourceSize</key>
                <string>{608,24}</string>
            </dict>
            <key>slot_base_loading_jdt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{632,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,38}}</string>
                <key>sourceSize</key>
                <string>{632,38}</string>
            </dict>
            <key>slot_base_loading_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,28}}</string>
                <key>sourceSize</key>
                <string>{108,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot_base_loading_ui.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a466837bd95c2f507effe8bd1da169f$</string>
            <key>textureFileName</key>
            <string>slot_base_loading_ui.png</string>
        </dict>
    </dict>
</plist>
