<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Slot_rank_btn_wxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,294},{230,54}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{230,54}}</string>
                <key>sourceSize</key>
                <string>{290,66}</string>
            </dict>
            <key>Slot_rank_btn_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,2},{290,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,66}}</string>
                <key>sourceSize</key>
                <string>{290,66}</string>
            </dict>
            <key>Slot_rank_mc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,194},{94,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{94,72}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>Slot_rank_mc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,98},{94,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{94,72}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>Slot_rank_mc_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{94,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{94,72}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>Slot_rank_qm_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{2,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,60}}</string>
                <key>sourceSize</key>
                <string>{2,60}</string>
            </dict>
            <key>Slot_rank_tiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,248},{1120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1120,80}}</string>
                <key>sourceSize</key>
                <string>{1120,80}</string>
            </dict>
            <key>Slot_rank_tiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,166},{1120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1120,80}}</string>
                <key>sourceSize</key>
                <string>{1120,80}</string>
            </dict>
            <key>Slot_rank_tiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,84},{1120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1120,80}}</string>
                <key>sourceSize</key>
                <string>{1120,80}</string>
            </dict>
            <key>Slot_rank_tiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{1120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1120,80}}</string>
                <key>sourceSize</key>
                <string>{1120,80}</string>
            </dict>
            <key>Slot_rank_tiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{1188,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1188,98}}</string>
                <key>sourceSize</key>
                <string>{1188,98}</string>
            </dict>
            <key>Slot_rank_title_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,8}}</string>
                <key>sourceSize</key>
                <string>{360,8}</string>
            </dict>
            <key>Slot_rank_txinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{256,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,74}}</string>
                <key>sourceSize</key>
                <string>{258,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot_base_ranking_ui.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ee10b7b75a9afdd32bee52c65b07c36$</string>
            <key>textureFileName</key>
            <string>slot_base_ranking_ui.png</string>
        </dict>
    </dict>
</plist>
