<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Slot_lobby_UI_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,586},{1288,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1288,88}}</string>
                <key>sourceSize</key>
                <string>{1288,88}</string>
            </dict>
            <key>Slot_lobby_UI_btn_R_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,498},{248,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,72}}</string>
                <key>sourceSize</key>
                <string>{248,72}</string>
            </dict>
            <key>Slot_lobby_UI_btn_start_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,168},{328,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,112}}</string>
                <key>sourceSize</key>
                <string>{328,112}</string>
            </dict>
            <key>Slot_lobby_UI_talk_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{458,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,72}}</string>
                <key>sourceSize</key>
                <string>{458,72}</string>
            </dict>
            <key>Slot_lobby_fffqp.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,578},{186,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{186,34}}</string>
                <key>sourceSize</key>
                <string>{188,36}</string>
            </dict>
            <key>Slot_lobby_fffqp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1994},{238,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,42}}</string>
                <key>sourceSize</key>
                <string>{238,42}</string>
            </dict>
            <key>Slot_lobby_icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,36},{130,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{130,132}</string>
            </dict>
            <key>Slot_lobby_lackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{188,32}</string>
            </dict>
            <key>Slot_lobby_lackpot_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,168},{238,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,42}}</string>
                <key>sourceSize</key>
                <string>{238,42}</string>
            </dict>
            <key>Slot_lobby_renshu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,408},{176,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,40}}</string>
                <key>sourceSize</key>
                <string>{176,40}</string>
            </dict>
            <key>Slot_lobby_renshu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2024},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>Slot_lobby_room_-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,398},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,252}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>Slot_lobby_room_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,840},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,252}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>Slot_lobby_room_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{274,492}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{274,492}}</string>
                <key>sourceSize</key>
                <string>{320,540}</string>
            </dict>
            <key>Slot_lobby_room_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,652},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,252}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>Slot_lobby_room_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{280,492}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{280,492}}</string>
                <key>sourceSize</key>
                <string>{320,540}</string>
            </dict>
            <key>Slot_lobby_room_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,586},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,252}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>Slot_lobby_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1560,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1560,86}}</string>
                <key>sourceSize</key>
                <string>{1560,86}</string>
            </dict>
            <key>Slot_lobby_top_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,498},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>Slot_lobby_top_btn_buy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1564},{428,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,66}}</string>
                <key>sourceSize</key>
                <string>{428,66}</string>
            </dict>
            <key>Slot_lobby_top_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,284},{330,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,56}}</string>
                <key>sourceSize</key>
                <string>{330,56}</string>
            </dict>
            <key>Slot_lobby_top_lv_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,342},{320,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,54}}</string>
                <key>sourceSize</key>
                <string>{320,54}</string>
            </dict>
            <key>Slot_lobby_top_lv_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1994},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{50,48}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Slot_lobby_top_lv_jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,766},{296,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,32}}</string>
                <key>sourceSize</key>
                <string>{296,32}</string>
            </dict>
            <key>Slot_lobby_top_txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,498},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot_base_more_game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb336a68bda20e005754d4c2b4facf4d$</string>
            <key>textureFileName</key>
            <string>slot_base_more_game.png</string>
        </dict>
    </dict>
</plist>
