<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot_main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{1560,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1560,112}}</string>
                <key>sourceSize</key>
                <string>{1560,112}</string>
            </dict>
            <key>slot_main_btn_GN_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{238,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,86}}</string>
                <key>sourceSize</key>
                <string>{238,86}</string>
            </dict>
            <key>slot_main_btn_GY.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{238,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,86}}</string>
                <key>sourceSize</key>
                <string>{238,86}</string>
            </dict>
            <key>slot_main_btn_RD_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{238,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,86}}</string>
                <key>sourceSize</key>
                <string>{238,86}</string>
            </dict>
            <key>slot_main_btn_RD_stop_wqd.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,228},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>slot_main_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,184},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>slot_main_btn_add_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,116},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>slot_main_btn_bet2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,116},{124,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,66}}</string>
                <key>sourceSize</key>
                <string>{124,66}</string>
            </dict>
            <key>slot_main_btn_bet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,116},{124,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,66}}</string>
                <key>sourceSize</key>
                <string>{124,66}</string>
            </dict>
            <key>slot_main_btn_bet_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,242},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>slot_main_btn_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,184},{50,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>slot_main_btn_gz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,116},{50,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>slot_main_btn_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,184},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>slot_main_btn_sub_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,116},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>slot_main_cishu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{208,248}}</string>
                <key>sourceSize</key>
                <string>{210,248}</string>
            </dict>
            <key>slot_main_cishu_ct.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{194,62}</string>
            </dict>
            <key>slot_main_cishu_wqd.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,180},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>slot_main_cishu_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,116},{194,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,62}}</string>
                <key>sourceSize</key>
                <string>{194,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot_base_bottom_ui.png</string>
            <key>size</key>
            <string>{2048,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:797cbcd829cb61fe66c78ac1c22c3bc4$</string>
            <key>textureFileName</key>
            <string>slot_base_bottom_ui.png</string>
        </dict>
    </dict>
</plist>
