<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin_001.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>coin_001.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>coin_001.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,100},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>coin_001.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{12,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{12,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>coin_001.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>coin_001.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>slot_hdb_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>slot_hdb_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot_base_coin_ui.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:022315b57c03a8917fbb1f20aa2a07f8$</string>
            <key>textureFileName</key>
            <string>slot_base_coin_ui.png</string>
        </dict>
    </dict>
</plist>
