<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hkfg_btn_GN_qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{64,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,22},{64,30}}</string>
                <key>sourceSize</key>
                <string>{172,78}</string>
            </dict>
            <key>hkfg_btn_OG_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,30}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,22},{52,30}}</string>
                <key>sourceSize</key>
                <string>{172,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot_msg_box_w.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:830af86043b03e908da09bd8a9a7694e$</string>
            <key>textureFileName</key>
            <string>slot_msg_box_w.png</string>
        </dict>
    </dict>
</plist>
