<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_grxx_songhua_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{140,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,168}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>DG_grxx_songhua_yy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,44}}</string>
                <key>sourceSize</key>
                <string>{220,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_bull_send_res.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f0a1c37dcb97a5e2e3aff661e18d17e$</string>
            <key>textureFileName</key>
            <string>DG_bull_send_res.png</string>
        </dict>
    </dict>
</plist>
