<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,962},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>DG_comm_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,190},{54,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{54,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>DG_ejmm_btn_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,962},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{36,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>DG_gg_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>DG_gg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,432},{556,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,64}}</string>
                <key>sourceSize</key>
                <string>{556,64}</string>
            </dict>
            <key>DG_hy_bgt.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,962},{56,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,94}}</string>
                <key>sourceSize</key>
                <string>{56,94}</string>
            </dict>
            <key>DG_hy_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,962},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>DG_hy_gdts_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{772,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{772,44}}</string>
                <key>sourceSize</key>
                <string>{772,44}</string>
            </dict>
            <key>DG_hy_icon_jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,190},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>DG_hycomm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,962},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>DG_lb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{696,408}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,408}}</string>
                <key>sourceSize</key>
                <string>{698,408}</string>
            </dict>
            <key>DG_lb_btn_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,550},{198,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,74}}</string>
                <key>sourceSize</key>
                <string>{198,74}</string>
            </dict>
            <key>DG_lb_btn_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,246},{308,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,74}}</string>
                <key>sourceSize</key>
                <string>{308,74}</string>
            </dict>
            <key>DG_lb_btn_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,474},{198,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,74}}</string>
                <key>sourceSize</key>
                <string>{198,74}</string>
            </dict>
            <key>DG_lb_btn_lv_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{228,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,80}}</string>
                <key>sourceSize</key>
                <string>{228,80}</string>
            </dict>
            <key>DG_lb_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,126},{62,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{62,80}</string>
            </dict>
            <key>DG_lb_set_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{708,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,502}}</string>
                <key>sourceSize</key>
                <string>{708,502}</string>
            </dict>
            <key>DG_lb_ty_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{114,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,12}}</string>
                <key>sourceSize</key>
                <string>{114,12}</string>
            </dict>
            <key>DG_rank_title_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,48},{196,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,62}}</string>
                <key>sourceSize</key>
                <string>{196,62}</string>
            </dict>
            <key>DG_set_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,850},{48,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,162}}</string>
                <key>sourceSize</key>
                <string>{48,162}</string>
            </dict>
            <key>DG_set_title_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,322},{302,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,108}}</string>
                <key>sourceSize</key>
                <string>{302,108}</string>
            </dict>
            <key>DG_set_title_di_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,84},{176,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,40}}</string>
                <key>sourceSize</key>
                <string>{176,40}</string>
            </dict>
            <key>DG_set_title_di_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,432},{212,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,40}}</string>
                <key>sourceSize</key>
                <string>{212,40}</string>
            </dict>
            <key>DG_shop_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,126},{104,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,114}</string>
            </dict>
            <key>DG_shop_cz_title_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,474},{374,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,44}}</string>
                <key>sourceSize</key>
                <string>{374,44}</string>
            </dict>
            <key>DG_tc_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,84},{48,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,160}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>DG_tc_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,962},{318,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,54}}</string>
                <key>sourceSize</key>
                <string>{318,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_comm_kuang_res.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f5572fe69e2ccf0bc6dd4f0520fed8b$</string>
            <key>textureFileName</key>
            <string>DG_comm_kuang_res.png</string>
        </dict>
    </dict>
</plist>
