<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_dhqgz_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{926,458}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{926,458}}</string>
                <key>sourceSize</key>
                <string>{938,458}</string>
            </dict>
            <key>DG_dj_btn_more_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,56},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,46}}</string>
                <key>sourceSize</key>
                <string>{154,46}</string>
            </dict>
            <key>DG_dj_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{132,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,104}}</string>
                <key>sourceSize</key>
                <string>{132,104}</string>
            </dict>
            <key>DG_dj_coins_je_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,56},{140,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,42}}</string>
                <key>sourceSize</key>
                <string>{140,42}</string>
            </dict>
            <key>DG_dj_czk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{170,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,136}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>DG_dj_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{238,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,236}}</string>
                <key>sourceSize</key>
                <string>{238,236}</string>
            </dict>
            <key>DG_dj_xx_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_dj_res.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cbc4d0cf7d7e2538847d103924525e8$</string>
            <key>textureFileName</key>
            <string>DG_dj_res.png</string>
        </dict>
    </dict>
</plist>
