<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_hy_btn_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,762},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>DG_hy_btn_gift02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,706},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>DG_hy_btn_jj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>DG_hy_btn_kirim.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,818},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>DG_hy_btn_lt02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,650},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>DG_hy_btn_ml.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,594},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>DG_hy_btn_tj.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,722},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>DG_hy_btn_ty.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,666},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>DG_hy_cd_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{268,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,72}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>DG_hy_cd_fgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,122},{244,4}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{244,4}}</string>
                <key>sourceSize</key>
                <string>{268,4}</string>
            </dict>
            <key>DG_hy_icon_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,52},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{50,40}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>DG_hy_icon_mhy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,594},{184,266}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{184,266}}</string>
                <key>sourceSize</key>
                <string>{250,270}</string>
            </dict>
            <key>DG_hy_icon_mhy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{250,268}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{250,268}}</string>
                <key>sourceSize</key>
                <string>{250,270}</string>
            </dict>
            <key>DG_hy_icon_mhy04.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,340},{218,252}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{218,252}}</string>
                <key>sourceSize</key>
                <string>{250,270}</string>
            </dict>
            <key>DG_hy_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,104},{70,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,12}}</string>
                <key>sourceSize</key>
                <string>{70,12}</string>
            </dict>
            <key>DG_hy_lt_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,104},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>DG_hy_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,336}}</string>
                <key>sourceSize</key>
                <string>{462,336}</string>
            </dict>
            <key>DG_hy_tips_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>DG_hy_wdrz_yq_wxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{178,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,48}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>DG_hy_wdrz_yq_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{178,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,48}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>DG_hy_xx_fgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,52},{2,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{2,68}}</string>
                <key>sourceSize</key>
                <string>{2,94}</string>
            </dict>
            <key>DG_hy_yd_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{42,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_friend_res.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fed9418f17b89e2ca0a6ff96ea6383c3$</string>
            <key>textureFileName</key>
            <string>DG_friend_res.png</string>
        </dict>
    </dict>
</plist>
