<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_game2_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>DG_game2_tips_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,96},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>DG_game3_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,50},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>DG_game3_tips_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>DG_lb_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>DG_lb_tips_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>DG_rw_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>DG_rw_tips_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,98},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_game_tips_res.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6a18dbdfff9f30e80d556f31aa146f9$</string>
            <key>textureFileName</key>
            <string>DG_game_tips_res.png</string>
        </dict>
    </dict>
</plist>
