<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_ID_btn_del.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{30,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{30,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>DG_ID_btn_xl.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,394},{26,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{26,20}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>DG_ID_icon_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,426},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>DG_ID_xl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{30,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,66}}</string>
                <key>sourceSize</key>
                <string>{30,66}</string>
            </dict>
            <key>DG_ID_xl_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>DG_ID_xl_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{358,60}}</string>
                <key>sourceSize</key>
                <string>{360,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_IDlogin_res.png</string>
            <key>size</key>
            <string>{64,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a4d7a3f4a6441fe3b62bb224ca42551$</string>
            <key>textureFileName</key>
            <string>DG_IDlogin_res.png</string>
        </dict>
    </dict>
</plist>
