<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_grxx_btn_jhy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,56},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>DG_grxx_btn_jhy_songhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>DG_grxx_btn_jhy_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,108},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>DG_grxx_btn_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,172},{136,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,52}}</string>
                <key>sourceSize</key>
                <string>{136,52}</string>
            </dict>
            <key>DG_grxx_btn_tj.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,116},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>DG_grxx_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,442},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>DG_grxx_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,442},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>DG_grxx_dj_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,28}}</string>
                <key>sourceSize</key>
                <string>{236,28}</string>
            </dict>
            <key>DG_grxx_dj_jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{232,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{232,24}}</string>
                <key>sourceSize</key>
                <string>{236,28}</string>
            </dict>
            <key>DG_grxx_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>DG_grxx_game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{58,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,170}}</string>
                <key>sourceSize</key>
                <string>{58,170}</string>
            </dict>
            <key>DG_grxx_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,442},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>DG_grxx_gxqm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,214},{48,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,120}}</string>
                <key>sourceSize</key>
                <string>{48,120}</string>
            </dict>
            <key>DG_grxx_icon_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,72},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{34,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>DG_grxx_icon_nc.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,252},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>DG_grxx_id_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,32},{170,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,38}}</string>
                <key>sourceSize</key>
                <string>{170,38}</string>
            </dict>
            <key>DG_grxx_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>DG_grxx_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>DG_grxx_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,214},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>DG_grxx_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,202},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>DG_grxx_meili.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,264},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>DG_grxx_tx_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,28},{172,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,212}}</string>
                <key>sourceSize</key>
                <string>{172,212}</string>
            </dict>
            <key>DG_grxx_tx_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,310},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{124,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>DG_grxx_tx_di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,310},{130,130}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{130,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>DG_grxx_tx_di_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,72},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>DG_grxx_tx_xzbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{30,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,88}}</string>
                <key>sourceSize</key>
                <string>{30,88}</string>
            </dict>
            <key>DG_grxx_whatsapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,264},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>DG_grxx_wxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,264},{38,40}}</string>
                <key>offset</key>
                <string>{-86,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{38,40}}</string>
                <key>sourceSize</key>
                <string>{210,50}</string>
            </dict>
            <key>DG_grxx_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,264},{38,40}}</string>
                <key>offset</key>
                <string>{-86,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{38,40}}</string>
                <key>sourceSize</key>
                <string>{210,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_lobby_user_info_res.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b40a76aaa9bd5c21fe7e15afa8c1912a$</string>
            <key>textureFileName</key>
            <string>DG_lobby_user_info_res.png</string>
        </dict>
    </dict>
</plist>
