<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_loading_btn_dl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{404,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,68}}</string>
                <key>sourceSize</key>
                <string>{404,68}</string>
            </dict>
            <key>DG_loading_btn_ios.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{404,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,68}}</string>
                <key>sourceSize</key>
                <string>{404,68}</string>
            </dict>
            <key>DG_loading_btn_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,402},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>DG_loading_btn_jb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>DG_loading_btn_ks.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,74},{326,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,94}}</string>
                <key>sourceSize</key>
                <string>{326,94}</string>
            </dict>
            <key>DG_loading_guest_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{280,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,60}}</string>
                <key>sourceSize</key>
                <string>{280,60}</string>
            </dict>
            <key>DG_loading_icon_ID.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,402},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DG_loading_icon_kf.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,402},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DG_loading_jdt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,60}}</string>
                <key>sourceSize</key>
                <string>{424,60}</string>
            </dict>
            <key>DG_loading_jdt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,204},{330,26}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,11},{330,26}}</string>
                <key>sourceSize</key>
                <string>{424,60}</string>
            </dict>
            <key>DG_loading_pd_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,470},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,36}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_loading_res.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72504c3e9d6a8927c0312a1b8b32d5d6$</string>
            <key>textureFileName</key>
            <string>DG_loading_res.png</string>
        </dict>
    </dict>
</plist>
