<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LUDO_xf_fjxzs_2p.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,790},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>LUDO_xf_fjxzs_4p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>LUDO_xf_rs_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{100,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,64}</string>
            </dict>
            <key>LUDO_xf_rs_icon_bl.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,700},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>LUDO_xf_rs_icon_gn.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,790},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>LUDO_xf_rs_icon_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,860},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>LUDO_xf_rs_icon_yl.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,816},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>LUDO_xf_ys_bl.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,924},{62,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{62,88}</string>
            </dict>
            <key>LUDO_xf_ys_gn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{62,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{62,88}</string>
            </dict>
            <key>LUDO_xf_ys_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,700},{62,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{62,88}</string>
            </dict>
            <key>LUDO_xf_ys_yl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{62,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{62,88}</string>
            </dict>
            <key>LUDO_xf_ysxz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{696,378}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,378}}</string>
                <key>sourceSize</key>
                <string>{696,386}</string>
            </dict>
            <key>LUDO_xf_ysxz_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,658},{126,162}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,162}}</string>
                <key>sourceSize</key>
                <string>{128,162}</string>
            </dict>
            <key>LUDO_xf_ysxz_xz_bl.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,494},{128,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,162}}</string>
                <key>sourceSize</key>
                <string>{128,162}</string>
            </dict>
            <key>LUDO_xf_ysxz_xz_gn.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,330},{128,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,162}}</string>
                <key>sourceSize</key>
                <string>{128,162}</string>
            </dict>
            <key>LUDO_xf_ysxz_xz_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,166},{128,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,162}}</string>
                <key>sourceSize</key>
                <string>{128,162}</string>
            </dict>
            <key>LUDO_xf_ysxz_xz_yl.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{128,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,162}}</string>
                <key>sourceSize</key>
                <string>{128,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_ludo_room_res.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5466c4eeae1d9f54c2d7618a4bde3c9c$</string>
            <key>textureFileName</key>
            <string>DG_ludo_room_res.png</string>
        </dict>
    </dict>
</plist>
