<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{1126,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1126,150}}</string>
                <key>sourceSize</key>
                <string>{1126,150}</string>
            </dict>
            <key>DG_chat_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1366},{54,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{54,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>DG_chat_bubble_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1528},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>DG_chat_bubble_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1486},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>DG_chat_gg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{240,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,46}}</string>
                <key>sourceSize</key>
                <string>{240,46}</string>
            </dict>
            <key>DG_chat_hmd_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1940},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>DG_chat_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,488},{30,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,58}}</string>
                <key>sourceSize</key>
                <string>{30,58}</string>
            </dict>
            <key>DG_chat_input_bq_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1702},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DG_chat_input_bq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1646},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DG_chat_input_bq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1590},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DG_chat_input_bq_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1534},{54,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DG_chat_input_bq_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,690},{56,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{56,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DG_chat_input_bq_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,746},{54,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{54,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DG_chat_input_bq_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1478},{54,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DG_chat_input_bq_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1422},{54,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DG_chat_input_bq_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{336,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,190}}</string>
                <key>sourceSize</key>
                <string>{336,190}</string>
            </dict>
            <key>DG_chat_input_bq_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1966},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DG_chat_input_btn_bq.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1298},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DG_chat_input_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1756},{108,30}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,16},{108,30}}</string>
                <key>sourceSize</key>
                <string>{198,74}</string>
            </dict>
            <key>DG_chat_ranking_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1298},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>DG_chat_sl_Lbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1908},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>DG_chat_sl_Lbg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,76},{280,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,4}}</string>
                <key>sourceSize</key>
                <string>{280,4}</string>
            </dict>
            <key>DG_chat_sl_new_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1722},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>DG_chat_sl_new_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,76},{20,4}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{20,4}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>DG_chat_sl_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,802},{280,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,90}}</string>
                <key>sourceSize</key>
                <string>{280,90}</string>
            </dict>
            <key>DG_chat_sl_xz_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,214},{16,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,30},{16,28}}</string>
                <key>sourceSize</key>
                <string>{42,90}</string>
            </dict>
            <key>DG_chat_system_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1758},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>DG_chat_system_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1448},{36,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>DG_chat_system_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,72},{10,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,2}}</string>
                <key>sourceSize</key>
                <string>{10,2}</string>
            </dict>
            <key>DG_chat_yq_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{240,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{240,58}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>DG_chat_yq_bg1_hmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{200,26}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{200,26}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>DG_chat_yq_bg1_hylt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{208,32}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{208,32}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>DG_chat_yq_bg1_sl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{206,24}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{206,24}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>DG_chat_yq_bg1_zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1570},{150,32}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,26},{150,32}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>DG_chat_yq_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,64}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>DG_chat_yq_bg2_hmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{216,28}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{216,28}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>DG_chat_yq_bg2_hylt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{224,36}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{224,36}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>DG_chat_yq_bg2_sl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{222,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{222,26}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>DG_chat_yq_bg2_zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{160,34}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,21},{160,34}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>DG_click_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1866},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>DG_click_btn_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,68},{10,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,2}}</string>
                <key>sourceSize</key>
                <string>{10,2}</string>
            </dict>
            <key>DG_click_btn_word_ck.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1270},{72,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,18},{72,26}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>DG_click_btn_word_gb.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1084},{86,32}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,19},{86,32}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>DG_click_btn_word_jchmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,520},{168,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{168,56}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>DG_click_btn_word_jhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{198,24}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{198,24}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>DG_click_btn_word_lh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{168,24}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{168,24}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>DG_click_btn_word_sl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{206,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{206,24}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>DG_click_btn_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1932},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>DG_click_newmessage.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1810},{120,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>DG_lt_hmd_fhy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,272},{214,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,24}}</string>
                <key>sourceSize</key>
                <string>{214,30}</string>
            </dict>
            <key>DG_lt_hmd_fhy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{214,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,24}}</string>
                <key>sourceSize</key>
                <string>{214,30}</string>
            </dict>
            <key>DG_lt_hmd_hy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1932},{106,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{106,24}}</string>
                <key>sourceSize</key>
                <string>{214,30}</string>
            </dict>
            <key>DG_lt_hmd_hy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1340},{106,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{106,24}}</string>
                <key>sourceSize</key>
                <string>{214,30}</string>
            </dict>
            <key>DG_lt_hyxx_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1194},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>DG_lt_hyxx_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1118},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>DG_lt_hyxx_btn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1966},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_lb_chat_res.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b138bf3f81aa6e3dbd693078e2d105c8$</string>
            <key>textureFileName</key>
            <string>DG_lb_chat_res.png</string>
        </dict>
    </dict>
</plist>
