<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_mg_room_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,824},{192,236}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{192,236}}</string>
                <key>sourceSize</key>
                <string>{194,240}</string>
            </dict>
            <key>DG_mg_room_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,586},{192,236}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{192,236}}</string>
                <key>sourceSize</key>
                <string>{194,240}</string>
            </dict>
            <key>DG_mg_room_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,390},{192,236}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{192,236}}</string>
                <key>sourceSize</key>
                <string>{194,240}</string>
            </dict>
            <key>DG_mg_room_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,392},{192,236}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{192,236}}</string>
                <key>sourceSize</key>
                <string>{194,240}</string>
            </dict>
            <key>DG_mg_room_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,390},{192,236}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{192,236}}</string>
                <key>sourceSize</key>
                <string>{194,240}</string>
            </dict>
            <key>DG_mg_room_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,196},{192,236}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{192,236}}</string>
                <key>sourceSize</key>
                <string>{194,240}</string>
            </dict>
            <key>DG_mg_room_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,198},{192,236}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{192,236}}</string>
                <key>sourceSize</key>
                <string>{194,240}</string>
            </dict>
            <key>DG_mg_room_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,196},{192,236}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{192,236}}</string>
                <key>sourceSize</key>
                <string>{194,240}</string>
            </dict>
            <key>DG_mg_room_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{192,236}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{192,236}}</string>
                <key>sourceSize</key>
                <string>{194,240}</string>
            </dict>
            <key>DG_mg_room_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{194,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,240}}</string>
                <key>sourceSize</key>
                <string>{194,240}</string>
            </dict>
            <key>DG_mg_room_Ludo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{246,484}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{246,484}}</string>
                <key>sourceSize</key>
                <string>{270,484}</string>
            </dict>
            <key>DG_mg_room_com_soon.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{192,236}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{192,236}}</string>
                <key>sourceSize</key>
                <string>{194,240}</string>
            </dict>
            <key>DG_mg_room_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,484}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{246,484}}</string>
                <key>sourceSize</key>
                <string>{270,484}</string>
            </dict>
            <key>DG_mg_rs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_more_game_res.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e3828c3f24ac87fab033fac8775b54f$</string>
            <key>textureFileName</key>
            <string>DG_more_game_res.png</string>
        </dict>
    </dict>
</plist>
