<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_shop_cz_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{162,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,13},{162,34}}</string>
                <key>sourceSize</key>
                <string>{228,66}</string>
            </dict>
            <key>DG_shop_cz_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,106},{172,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{172,48}}</string>
                <key>sourceSize</key>
                <string>{228,66}</string>
            </dict>
            <key>DG_shop_cz_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,286},{140,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,9},{140,44}}</string>
                <key>sourceSize</key>
                <string>{228,66}</string>
            </dict>
            <key>DG_shop_cz_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,238},{44,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,3},{44,56}}</string>
                <key>sourceSize</key>
                <string>{228,66}</string>
            </dict>
            <key>DG_shop_cz_btn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{98,38}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,9},{98,38}}</string>
                <key>sourceSize</key>
                <string>{228,66}</string>
            </dict>
            <key>DG_shop_cz_btn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{146,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{146,30}}</string>
                <key>sourceSize</key>
                <string>{228,66}</string>
            </dict>
            <key>DG_shop_cz_btn_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,280},{114,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,8},{114,46}}</string>
                <key>sourceSize</key>
                <string>{228,66}</string>
            </dict>
            <key>DG_shop_cz_btn_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,132},{152,34}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,12},{152,34}}</string>
                <key>sourceSize</key>
                <string>{228,66}</string>
            </dict>
            <key>DG_shop_cz_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,66}}</string>
                <key>sourceSize</key>
                <string>{228,66}</string>
            </dict>
            <key>DG_shop_cz_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{60,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,200}}</string>
                <key>sourceSize</key>
                <string>{60,200}</string>
            </dict>
            <key>DG_shop_cz_jiaobiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,396},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>DG_shop_cz_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{156,68}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,20},{156,68}}</string>
                <key>sourceSize</key>
                <string>{302,108}</string>
            </dict>
            <key>DG_shop_cz_word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,238},{56,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,20}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>DG_shop_cz_word2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,286},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>DG_shop_cz_word3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{102,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,20}}</string>
                <key>sourceSize</key>
                <string>{102,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_other_cz_res.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d659a649f8b8a21acf96cc11a0587ec0$</string>
            <key>textureFileName</key>
            <string>DG_other_cz_res.png</string>
        </dict>
    </dict>
</plist>
