<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_deck_show_gj_lx.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{118,102}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{118,102}}</string>
                <key>sourceSize</key>
                <string>{152,102}</string>
            </dict>
            <key>DG_deck_show_gj_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,590},{120,96}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,96}}</string>
                <key>sourceSize</key>
                <string>{152,102}</string>
            </dict>
            <key>DG_deck_show_scp_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,208},{124,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{124,130}</string>
            </dict>
            <key>DG_deck_show_scp_fll.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,94}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,130}</string>
            </dict>
            <key>DG_deck_show_scp_lls.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,106},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>DG_deck_show_scp_rose.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,490},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,130}</string>
            </dict>
            <key>DG_deck_show_tx_ax.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{68,84}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,11},{68,84}}</string>
                <key>sourceSize</key>
                <string>{152,102}</string>
            </dict>
            <key>DG_deck_show_tx_gh.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,634},{112,102}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{112,102}}</string>
                <key>sourceSize</key>
                <string>{152,102}</string>
            </dict>
            <key>DG_deck_show_tx_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{138,92}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{138,92}}</string>
                <key>sourceSize</key>
                <string>{152,102}</string>
            </dict>
            <key>DG_deck_show_txk_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,322},{162,154}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{162,154}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>DG_deck_show_txk_bunglon.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,158},{162,162}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{162,162}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>DG_deck_show_txk_hbst.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,478},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{154,154}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>DG_deck_show_txk_sd_ml.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{154,162}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{154,162}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>DG_deck_show_txk_sd_xr.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,334},{156,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{156,154}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>DG_deck_show_txk_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{164,158}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{164,158}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>DG_deck_show_txk_yxsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{166,154}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{166,154}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>DG_deck_show_txk_zcm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{160,162}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{160,162}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>DG_yx_icon_fll.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,98},{80,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{80,46}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_PropImg_src.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1c2ff421d3d093cee51c55d1c89df13$</string>
            <key>textureFileName</key>
            <string>DG_PropImg_src.png</string>
        </dict>
    </dict>
</plist>
