<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_hgjl_qr_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,446},{58,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>DG_hgjl_qr_day_bg_dq.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,474},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>DG_hgjl_qr_icon_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,270},{28,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>DG_hgjl_qr_icon_wjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DG_hgjl_qr_icon_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,564},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DG_hgjl_qr_jl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,404},{68,54}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,31},{68,54}}</string>
                <key>sourceSize</key>
                <string>{104,88}</string>
            </dict>
            <key>DG_hgjl_qr_jl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,548},{86,66}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{86,66}}</string>
                <key>sourceSize</key>
                <string>{104,88}</string>
            </dict>
            <key>DG_hgjl_qr_jl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{88,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{88,72}}</string>
                <key>sourceSize</key>
                <string>{104,88}</string>
            </dict>
            <key>DG_hgjl_qr_jl_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,564},{78,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{78,80}}</string>
                <key>sourceSize</key>
                <string>{104,88}</string>
            </dict>
            <key>DG_hgjl_qr_jl_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{96,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{96,86}}</string>
                <key>sourceSize</key>
                <string>{104,88}</string>
            </dict>
            <key>DG_hgjl_qr_jl_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,636},{118,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,132}}</string>
                <key>sourceSize</key>
                <string>{118,134}</string>
            </dict>
            <key>DG_hgjl_qr_jl_bg01_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,270},{178,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,132}}</string>
                <key>sourceSize</key>
                <string>{178,134}</string>
            </dict>
            <key>DG_hgjl_qr_jl_bg01_d_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,176},{178,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,132}}</string>
                <key>sourceSize</key>
                <string>{178,134}</string>
            </dict>
            <key>DG_hgjl_qr_jl_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,548},{118,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,132}}</string>
                <key>sourceSize</key>
                <string>{118,134}</string>
            </dict>
            <key>DG_hgjl_qr_jl_bg02_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,136},{178,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,132}}</string>
                <key>sourceSize</key>
                <string>{178,134}</string>
            </dict>
            <key>DG_hgjl_qr_jl_bg02_d_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{178,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,132}}</string>
                <key>sourceSize</key>
                <string>{178,134}</string>
            </dict>
            <key>DG_hgjl_qr_jl_dq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{116,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,132}}</string>
                <key>sourceSize</key>
                <string>{118,134}</string>
            </dict>
            <key>DG_hgjl_qr_jl_dq_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,310},{174,132}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,132}}</string>
                <key>sourceSize</key>
                <string>{178,134}</string>
            </dict>
            <key>DG_hgjl_qr_jl_dq_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,88},{10,72}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,14},{10,72}}</string>
                <key>sourceSize</key>
                <string>{178,134}</string>
            </dict>
            <key>DG_hgjl_qr_jl_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,444},{118,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,132}}</string>
                <key>sourceSize</key>
                <string>{118,134}</string>
            </dict>
            <key>DG_hgjl_qr_xz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{626,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,442}}</string>
                <key>sourceSize</key>
                <string>{626,442}</string>
            </dict>
            <key>DG_hgjl_qr_xz_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,296},{24,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{24,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>DG_hgjl_qr_xz_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,404},{142,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{142,158}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>DG_hgjl_qr_xz_dk_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>DG_hgjl_qr_xz_jl_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,668},{108,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{108,92}}</string>
                <key>sourceSize</key>
                <string>{172,146}</string>
            </dict>
            <key>DG_hgjl_qr_xz_jl_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,904},{114,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{114,94}}</string>
                <key>sourceSize</key>
                <string>{172,146}</string>
            </dict>
            <key>DG_hgjl_qr_xz_jl_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{116,84}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{116,84}}</string>
                <key>sourceSize</key>
                <string>{172,146}</string>
            </dict>
            <key>DG_hgjl_qr_xz_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{84,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,12}}</string>
                <key>sourceSize</key>
                <string>{84,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_recall_qrhg_res.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:443efa62c2e09f4d1e75fe73a69e027d$</string>
            <key>textureFileName</key>
            <string>DG_recall_qrhg_res.png</string>
        </dict>
    </dict>
</plist>
