<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_xf_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{96,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>DG_xf_di_4_jl_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,124},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>DG_xf_icon_rs.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,98},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>DG_xf_jb_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,48},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{48,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>DG_xf_jb_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>DG_xf_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,186},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>DG_xf_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{192,110}}</string>
                <key>sourceSize</key>
                <string>{200,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_room_res.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c9dc188f3a10a363876f9ba71b18843$</string>
            <key>textureFileName</key>
            <string>DG_room_res.png</string>
        </dict>
    </dict>
</plist>
