<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_rank_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{140,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,34}}</string>
                <key>sourceSize</key>
                <string>{140,34}</string>
            </dict>
            <key>DG_rank_icon_mc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,130},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>DG_rank_icon_mc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,118},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>DG_rank_icon_mc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,80},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>DG_rank_icon_qm.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,80},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>DG_rank_jl_NO123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{354,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,336}}</string>
                <key>sourceSize</key>
                <string>{354,336}</string>
            </dict>
            <key>DG_rank_jl_NO123_pz.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,38},{66,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,30}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>DG_rank_jl_NO4_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,38},{40,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,116}}</string>
                <key>sourceSize</key>
                <string>{40,116}</string>
            </dict>
            <key>DG_rank_jl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,566}}</string>
                <key>sourceSize</key>
                <string>{354,566}</string>
            </dict>
            <key>DG_rank_jl_word_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>DG_rank_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{2,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,60}}</string>
                <key>sourceSize</key>
                <string>{2,60}</string>
            </dict>
            <key>DG_rank_txt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,168},{772,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{772,26}}</string>
                <key>sourceSize</key>
                <string>{780,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_rank_res.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:872be1b11b97b46c3a999a4b9796e263$</string>
            <key>textureFileName</key>
            <string>DG_rank_res.png</string>
        </dict>
    </dict>
</plist>
