<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_gz_bq_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{60,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,12}}</string>
                <key>sourceSize</key>
                <string>{60,12}</string>
            </dict>
            <key>DG_gz_bq_wxz_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,158},{172,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,50}}</string>
                <key>sourceSize</key>
                <string>{172,50}</string>
            </dict>
            <key>DG_gz_bq_xz_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{172,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,50}}</string>
                <key>sourceSize</key>
                <string>{172,50}</string>
            </dict>
            <key>DG_gz_fl_di_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{232,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,76}}</string>
                <key>sourceSize</key>
                <string>{232,76}</string>
            </dict>
            <key>DG_gz_fl_di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,76}}</string>
                <key>sourceSize</key>
                <string>{232,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_rule_res.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feb1c6fc3b3222af4f8a243c2ddfecd7$</string>
            <key>textureFileName</key>
            <string>DG_rule_res.png</string>
        </dict>
    </dict>
</plist>
