<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_hgjl_fx_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{4,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,170}}</string>
                <key>sourceSize</key>
                <string>{4,170}</string>
            </dict>
            <key>DG_hgjl_yxlb_jl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,198}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_recall_other_res.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfc2cada9b661223bf50d53fdf3f4fc6$</string>
            <key>textureFileName</key>
            <string>DG_recall_other_res.png</string>
        </dict>
    </dict>
</plist>
