<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_lb_shop_db1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{36,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,92}}</string>
                <key>sourceSize</key>
                <string>{36,92}</string>
            </dict>
            <key>DG_lb_shop_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{213,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,24}}</string>
                <key>sourceSize</key>
                <string>{213,24}</string>
            </dict>
            <key>DG_lb_shop_word_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{248,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{248,20}}</string>
                <key>sourceSize</key>
                <string>{248,24}</string>
            </dict>
            <key>DG_shop_hdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,266},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>DG_shop_jb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,408},{130,72}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{130,72}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>DG_shop_jb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,332},{130,74}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{130,74}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>DG_shop_jb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,266},{130,80}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{130,80}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>DG_shop_jb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{130,84}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{130,84}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>DG_shop_jb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{130,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,90}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>DG_shop_jb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{130,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,98}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>DG_shop_title_jb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{248,56}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{248,56}}</string>
                <key>sourceSize</key>
                <string>{268,78}</string>
            </dict>
            <key>DG_shop_title_jb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{268,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,78}}</string>
                <key>sourceSize</key>
                <string>{268,78}</string>
            </dict>
            <key>DG_shop_title_zs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{248,56}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{248,56}}</string>
                <key>sourceSize</key>
                <string>{268,78}</string>
            </dict>
            <key>DG_shop_title_zs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,78}}</string>
                <key>sourceSize</key>
                <string>{268,78}</string>
            </dict>
            <key>DG_shop_zs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,428},{130,64}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{130,64}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>DG_shop_zs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,134},{130,72}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{130,72}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>DG_shop_zs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,252},{130,78}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{130,78}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>DG_shop_zs4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{130,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>DG_shop_zs5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,184},{130,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{130,80}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>DG_shop_zs6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,348},{130,78}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{130,78}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_shop_res.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:308f50efe8cd6e8e09b326332f16b78e$</string>
            <key>textureFileName</key>
            <string>DG_shop_res.png</string>
        </dict>
    </dict>
</plist>
