<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_VIP_hz_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,462},{54,44}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>DG_VIP_hz_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,392},{54,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>DG_VIP_hz_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,406},{54,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>DG_VIP_hz_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,436},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>DG_vip_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>DG_vip_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{344,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,330}}</string>
                <key>sourceSize</key>
                <string>{344,330}</string>
            </dict>
            <key>DG_vip_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,334},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>DG_vip_bg_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,60},{124,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,180}}</string>
                <key>sourceSize</key>
                <string>{124,180}</string>
            </dict>
            <key>DG_vip_bg_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,242},{124,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,90}}</string>
                <key>sourceSize</key>
                <string>{124,90}</string>
            </dict>
            <key>DG_vip_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,48},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{10,10}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>DG_vip_dian_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,34},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>DG_vip_icon_bq.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,334},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>DG_vip_icon_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,448},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>DG_vip_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,436},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>DG_vip_jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{494,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{494,24}}</string>
                <key>sourceSize</key>
                <string>{500,30}</string>
            </dict>
            <key>DG_vip_jdt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,30}}</string>
                <key>sourceSize</key>
                <string>{500,30}</string>
            </dict>
            <key>DG_vip_txk_yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,392},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>DG_vip_word_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,60},{246,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,34}}</string>
                <key>sourceSize</key>
                <string>{246,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_VIP_res.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eddfc2451ff11b23e22de3cd8653edc7$</string>
            <key>textureFileName</key>
            <string>DG_VIP_res.png</string>
        </dict>
    </dict>
</plist>
