<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_yx_bs.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,218},{48,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>DG_yx_btn_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,376},{130,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,38}}</string>
                <key>sourceSize</key>
                <string>{130,38}</string>
            </dict>
            <key>DG_yx_btn_di_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,244},{130,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,38}}</string>
                <key>sourceSize</key>
                <string>{130,38}</string>
            </dict>
            <key>DG_yx_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,344},{30,30}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{30,30}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>DG_yx_close_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,244},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>DG_yx_di2_wxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,142},{262,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,74}}</string>
                <key>sourceSize</key>
                <string>{262,74}</string>
            </dict>
            <key>DG_yx_di2_wxz_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,218},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>DG_yx_di2_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,66},{262,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,74}}</string>
                <key>sourceSize</key>
                <string>{262,74}</string>
            </dict>
            <key>DG_yx_di2_xz_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,376},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{44,34}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>DG_yx_fj_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,422},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>DG_yx_fj_di_hzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>DG_yx_fj_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,218},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>DG_yx_fj_num_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,218},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>DG_yx_hdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,66},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>DG_yx_hfk.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,122},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>DG_yx_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,218},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>DG_yx_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,190},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>DG_yx_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,4}}</string>
                <key>sourceSize</key>
                <string>{498,4}</string>
            </dict>
            <key>DG_yx_mlz.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,218},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>DG_yx_nomail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{412,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,157}}</string>
                <key>sourceSize</key>
                <string>{412,157}</string>
            </dict>
            <key>DG_yx_zhi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,8},{56,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,330}}</string>
                <key>sourceSize</key>
                <string>{56,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_yx_res.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b6e7cea8702e1fb3c074a40fced66e1$</string>
            <key>textureFileName</key>
            <string>DG_yx_res.png</string>
        </dict>
    </dict>
</plist>
