<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_yqyl_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,80},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{22,24}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>DG_yqyl_btn_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,104},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DG_yqyl_btn_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DG_yqyl_btn_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DG_yqyl_btn_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DG_yqyl_wordbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>DG_yqyl_xq_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>DG_yqyl_xq_wordbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>DG_yqyl_yqmbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,186},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_yqyl_res.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a8963a83c231a85b02caa673f1f7865$</string>
            <key>textureFileName</key>
            <string>DG_yqyl_res.png</string>
        </dict>
    </dict>
</plist>
