<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_lb_AD_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{312,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,286}}</string>
                <key>sourceSize</key>
                <string>{312,286}</string>
            </dict>
            <key>DG_lb_AD_pic_tj.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,606},{274,246}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{274,246}}</string>
                <key>sourceSize</key>
                <string>{312,284}</string>
            </dict>
            <key>DG_lb_bottom_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,92},{4,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,48}}</string>
                <key>sourceSize</key>
                <string>{4,48}</string>
            </dict>
            <key>DG_lb_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{276,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,68}}</string>
                <key>sourceSize</key>
                <string>{276,68}</string>
            </dict>
            <key>DG_lb_gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,82},{42,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>DG_lb_gg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,36}}</string>
                <key>sourceSize</key>
                <string>{478,36}</string>
            </dict>
            <key>DG_lb_icon_dhm.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,82},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{40,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>DG_lb_icon_ejmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,82},{46,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{46,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>DG_lb_icon_gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,188},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{40,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>DG_lb_icon_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,146},{50,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>DG_lb_icon_kf.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,82},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{54,46}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>DG_lb_icon_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,196},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>DG_lb_icon_more_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{64,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,104}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>DG_lb_icon_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,82},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{50,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>DG_lb_infor.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,40},{322,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,148}}</string>
                <key>sourceSize</key>
                <string>{322,148}</string>
            </dict>
            <key>DG_lb_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{276,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,324}}</string>
                <key>sourceSize</key>
                <string>{276,324}</string>
            </dict>
            <key>DG_lb_rank_jb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,68},{76,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,20}}</string>
                <key>sourceSize</key>
                <string>{76,20}</string>
            </dict>
            <key>DG_lb_rank_mc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,260},{28,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>DG_lb_rank_mc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,230},{28,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>DG_lb_rank_mc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,82},{28,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>DG_lb_rank_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{8,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,88}}</string>
                <key>sourceSize</key>
                <string>{8,88}</string>
            </dict>
            <key>DG_lb_room_-1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,188},{214,218}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{214,218}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>DG_lb_room_-3_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,364},{214,218}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{214,218}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>DG_lb_room_10_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,404},{214,216}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{214,216}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>DG_lb_room_11_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,804},{214,216}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{214,216}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>DG_lb_room_12_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,144},{214,218}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{214,218}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>DG_lb_room_15_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,584},{214,218}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{214,218}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>DG_lb_room_slgg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{420,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,78}}</string>
                <key>sourceSize</key>
                <string>{420,78}</string>
            </dict>
            <key>DG_lb_room_slgg_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{134,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,78}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>DG_lb_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,68},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>DG_lb_show_info_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,882},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{124,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>DG_lb_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,144},{274,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,42}}</string>
                <key>sourceSize</key>
                <string>{274,42}</string>
            </dict>
            <key>DG_xf_hfk.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,82},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>DG_xf_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,82},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>DG_xf_jb_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,82},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{40,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmn_lobby_base_res.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:303896f8c72bff82bd2683202f2accc1$</string>
            <key>textureFileName</key>
            <string>dmn_lobby_base_res.png</string>
        </dict>
    </dict>
</plist>
