<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_free_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,2},{2,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,422}}</string>
                <key>sourceSize</key>
                <string>{2,422}</string>
            </dict>
            <key>bg_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,84},{324,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,42}}</string>
                <key>sourceSize</key>
                <string>{324,42}</string>
            </dict>
            <key>bg_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{326,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,40}}</string>
                <key>sourceSize</key>
                <string>{326,40}</string>
            </dict>
            <key>bg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,422}}</string>
                <key>sourceSize</key>
                <string>{2,422}</string>
            </dict>
            <key>bg_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,84},{326,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,40}}</string>
                <key>sourceSize</key>
                <string>{326,40}</string>
            </dict>
            <key>bg_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,28},{324,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,42}}</string>
                <key>sourceSize</key>
                <string>{324,42}</string>
            </dict>
            <key>dfdc_jbp_grand.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>dfdc_jbp_major.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,30},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dfdc_jbp_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>dfdc_jbp_minor.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,58},{86,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,24}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dfdc_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{90,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,74}}</string>
                <key>sourceSize</key>
                <string>{90,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dfdc_frame_ui.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b22d0bc58ed625838ad62af46535163$</string>
            <key>textureFileName</key>
            <string>dfdc_frame_ui.png</string>
        </dict>
    </dict>
</plist>
