<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dfdc_btn_L_GN.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{326,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,84}}</string>
                <key>sourceSize</key>
                <string>{326,84}</string>
            </dict>
            <key>dfdc_btn_M_GN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{260,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,84}}</string>
                <key>sourceSize</key>
                <string>{260,84}</string>
            </dict>
            <key>dfdc_btn_S_GN.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,416},{202,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,84}}</string>
                <key>sourceSize</key>
                <string>{202,84}</string>
            </dict>
            <key>dfdc_btn_S_RD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{202,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,84}}</string>
                <key>sourceSize</key>
                <string>{202,84}</string>
            </dict>
            <key>dfdc_gold_word_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,330},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>dfdc_ty_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,106}}</string>
                <key>sourceSize</key>
                <string>{400,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dfdc_msg_box_ui.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05ed376316b892150298806675763f1a$</string>
            <key>textureFileName</key>
            <string>dfdc_msg_box_ui.png</string>
        </dict>
    </dict>
</plist>
