<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dfdc_btn_L_GN_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{274,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{274,28}}</string>
                <key>sourceSize</key>
                <string>{326,84}</string>
            </dict>
            <key>dfdc_btn_M_GN_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,960},{144,36}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,22},{144,36}}</string>
                <key>sourceSize</key>
                <string>{260,84}</string>
            </dict>
            <key>dfdc_btn_S_GN_qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,350},{164,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{164,28}}</string>
                <key>sourceSize</key>
                <string>{202,84}</string>
            </dict>
            <key>dfdc_btn_S_RD_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,320},{166,28}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{166,28}}</string>
                <key>sourceSize</key>
                <string>{202,84}</string>
            </dict>
            <key>dfdc_gold_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,690},{268,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,32},{268,42}}</string>
                <key>sourceSize</key>
                <string>{400,106}</string>
            </dict>
            <key>dfdc_gold_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{704,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{704,32}}</string>
                <key>sourceSize</key>
                <string>{704,34}</string>
            </dict>
            <key>dfdc_goldpays.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,278},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>dfdc_loading_fu_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,434},{254,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,100}}</string>
                <key>sourceSize</key>
                <string>{254,104}</string>
            </dict>
            <key>dfdc_loading_scatterl_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{306,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,104}}</string>
                <key>sourceSize</key>
                <string>{306,104}</string>
            </dict>
            <key>dfdc_rule_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{194,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,32},{194,42}}</string>
                <key>sourceSize</key>
                <string>{400,106}</string>
            </dict>
            <key>dfdc_youwin_infreesoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{430,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,44}}</string>
                <key>sourceSize</key>
                <string>{430,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dfdc_word_ui.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2899a7d47e95bea09d7ca2534599be85$</string>
            <key>textureFileName</key>
            <string>dfdc_word_ui.png</string>
        </dict>
    </dict>
</plist>
