<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_ID_btn_wj.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,178},{52,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{52,24}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>DG_ID_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{208,66}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,19},{208,66}}</string>
                <key>sourceSize</key>
                <string>{316,112}</string>
            </dict>
            <key>DG_lb_btn_h_2_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,88},{162,28}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{162,28}}</string>
                <key>sourceSize</key>
                <string>{198,74}</string>
            </dict>
            <key>DG_lb_btn_lv_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,178},{134,36}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{134,36}}</string>
                <key>sourceSize</key>
                <string>{198,74}</string>
            </dict>
            <key>DG_loading_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{218,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{218,38}}</string>
                <key>sourceSize</key>
                <string>{280,60}</string>
            </dict>
            <key>DG_loading_icon_ID_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{84,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>DG_loading_icon_kf_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{76,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,24}}</string>
                <key>sourceSize</key>
                <string>{76,30}</string>
            </dict>
            <key>DG_set_title_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,66}}</string>
                <key>offset</key>
                <string>{26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,17},{220,66}}</string>
                <key>sourceSize</key>
                <string>{302,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_login_word.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b59a208a9f3c3b13d1e9ce167a222564$</string>
            <key>textureFileName</key>
            <string>DG_login_word.png</string>
        </dict>
    </dict>
</plist>
