<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DG_hy_btn_hyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{240,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,40}}</string>
                <key>sourceSize</key>
                <string>{240,40}</string>
            </dict>
            <key>DG_hy_cd_bz.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,44},{160,34}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{160,34}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>DG_hy_cd_bz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,206},{160,34}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{160,34}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>DG_hy_cd_hylw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{220,34}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{220,34}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>DG_hy_cd_hylw02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{220,34}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{220,34}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>DG_hy_cd_hysq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{226,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{226,36}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>DG_hy_cd_hysq02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{226,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{226,36}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>DG_hy_cd_tjhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,244},{188,40}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{188,40}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>DG_hy_cd_tjhy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,458},{188,40}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{188,40}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>DG_hy_cd_wdrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,44},{160,36}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,19},{160,36}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>DG_hy_cd_wdrz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,458},{160,36}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{160,36}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>DG_hy_cd_wdrz_xttz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,18}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>DG_hy_cd_yxhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{220,30}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{220,30}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>DG_hy_cd_yxhy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,22},{220,30}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{220,30}}</string>
                <key>sourceSize</key>
                <string>{268,72}</string>
            </dict>
            <key>DG_hy_icon_yhz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{138,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,60}}</string>
                <key>sourceSize</key>
                <string>{138,60}</string>
            </dict>
            <key>DG_hy_icon_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,240},{138,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,60}}</string>
                <key>sourceSize</key>
                <string>{138,60}</string>
            </dict>
            <key>DG_hy_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,302},{154,56}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,27},{154,56}}</string>
                <key>sourceSize</key>
                <string>{302,108}</string>
            </dict>
            <key>DG_hy_wdrz_yq_wxz_sdlw.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,80},{150,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{150,16}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>DG_hy_wdrz_yq_wxz_sljl.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,440},{160,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{160,16}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>DG_hy_wdrz_yq_wxz_xtjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,44},{152,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{152,16}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>DG_hy_wdrz_yq_xz_sdlw.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,62},{150,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{150,16}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>DG_hy_wdrz_yq_xz_sljl.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,202},{160,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{160,16}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>DG_hy_wdrz_yq_xz_xtjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,44},{152,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{152,16}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>DG_lb_btn_lv_big_kembali.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{142,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,23},{142,28}}</string>
                <key>sourceSize</key>
                <string>{228,80}</string>
            </dict>
            <key>DG_lb_btn_lv_big_tambahkan.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,244},{194,28}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,23},{194,28}}</string>
                <key>sourceSize</key>
                <string>{228,80}</string>
            </dict>
            <key>DG_lb_btn_lv_big_temangame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{208,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{208,36}}</string>
                <key>sourceSize</key>
                <string>{228,80}</string>
            </dict>
            <key>DG_lb_btn_lv_big_undang.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,364},{140,36}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,22},{140,36}}</string>
                <key>sourceSize</key>
                <string>{228,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_hy_word_res.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a4dacd7a3bce327f920f27409c6a3cb$</string>
            <key>textureFileName</key>
            <string>lobby_hy_word_res.png</string>
        </dict>
    </dict>
</plist>
